body{
    font-family: 'Lusitana', serif;
    font-size: 1.1rem;
}

nav{
    padding: 1rem;
    text-align: center;
}

a{
    text-decoration:none;
    color: black;
    
}

a:hover {
    text-decoration: underline;
}

/* start Footer Lisa-Lou */

a {
  padding: 0.3rem;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* End Footer Lisa-Lou */




