main {
    min-height: 100vh;
}

/* start Footer Lisa-Lou */

a{
  padding: 0.3rem;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* End Footer Lisa-Lou */


/*Flav*/

body{
    font-family: 'Lusitana', serif;
    font-size: 1.1rem;
}

nav{
    padding: 1rem 0 0 0;
    text-align: center;
}

a{
    text-decoration:none;
    color: black;
}

.contactLayout, .titleAboutUs{
    text-align: center;
}

form{
    padding: 20px 0;
}

.elementForm{
    padding: 10px;
}

input{
    width: 70%;
    height: 25px;
}

textarea{
    width: 70%;
    height: 100px;
}

.elementForm  p{
    margin-bottom: 5px;
}

.menu a:hover{
    text-decoration: underline;
}

/*Flav*/

/* Start Harold */

.aboutusBloc, .us, .LisaLou, .Jessica, .Flavien, .Harold, .textContent {
    display: flex;
    padding: 10px;
}

.aboutusBloc {
    flex-direction: column;
    width: 100%;
}

.us {
    flex-direction: column;
    width: 70%;
    align-content: center;
}

.LisaLou {
}

.aboutusImg {
    align-content: center;
}

.textContent {
    flex-direction: column;
    padding: 25px;
}

.aboutUsName {
    padding: 25px;
    font-size: 25px;
}

/* End Harold */
