/*Flav*/

body{
    font-family: 'Lusitana', serif;
    font-size: 1.1rem;
}

nav{
    padding: 1rem;
    text-align: center;
}

a{
    text-decoration:none;
    color: black;
    
}

.contactLayout{
    text-align: center;
}

form{
    padding: 20px 0;
}

.elementForm{
    padding: 10px;
}

input{
    width: 70%;
    height: 25px;
}

textarea{
    width: 70%;
    height: 100px;
}

.elementForm  p{
    margin-bottom: 5px;
}

.menu a:hover{
    text-decoration: underline;
}

/*Flav*/
