/*Flav*/

@media screen and (min-width: 1024px){

.menu-checkbox:checked ~.menu { /* le tilde= je selectionne .menu uniquement si les voisins checkbox sont au meme niveau */
    display: block;     /* je montre mon menu si les autres sont au meme niveau (si la condition est remplie: ~.menu */
} 

.menu-checkbox{
    display: none;
}

.menu-toggle{
    display: none;
}

.logo{
    display: none;
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

.nav-wrapper{
    display: flex;
    flex-direction: column-reverse;
}

.menu{
    display: flex;
    justify-content: center;
}

li{
    padding: 1rem;
    font-size: 1.2;
}

#TitleRemove{
    display: none;
}
}  
/*Flav*/

/*Jess*/

.cover {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 10px;
}
.bloc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 10px 5px 5px black;
}

p {font-size: 0.8em;
    display: flex;
    flex-wrap: nowrap;
}

div {
    align-self: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0;
}

/*Jess*/

/* Start Footer Lisa-Lou */

@media only screen and (min-width: 575px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .links-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem;
    }
    .links-container>a {
        margin-right: 0.4rem;
        margin-bottom: 0;
    }
    .logos-container {
        display: flex;
        align-items: center;
    }
}

/* End Footer Lisa-Lou */
