.cover {
    width: 200px;
}

.bloc-container {
    display: grid;
    text-align: center;
  }

.element-1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.element-2 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.element-3 {
    grid-row-start: 2;
    grid-row-end: 3;
}
    
div {
    align-self: center;
}

h2 {
    font-size: 2em;
}
