/*Flav*/

@media screen and (min-width: 1024px){

#navMobile{
    display: none;
}

nav{
    height: 275px;
}

#titleNav{
    display: none;
}

#logoSite{
    max-width: 70%;
    max-height: 70%;
    padding-bottom: 1.4rem;
}



.menu-checkbox{
    display: none;
}

.menu-toggle{
    display: none;
}

.logo{
    display: none;
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

.nav-wrapper{
    display: flex;
    flex-direction: column-reverse;
}

.menu{
    display: flex;
    justify-content: center;
}

li{
    padding: 1rem;
    font-size: 1.2;
}

#TitleRemove{
    display: none;
}
}  
/*Flav*/

/*Jess*/

/*page d'accueil*/

/* Css is same with aboutus.html */

/* Page Evenements */

div {
    align-self: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    font-family: 'Lusitana', serif;
}
/*Jess*/

/* Start Footer Lisa-Lou */

@media only screen and (min-width: 575px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .links-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem;
    }
    .links-container>a {
        margin-right: 0.4rem;
        margin-bottom: 0;
    }
    .logos-container {
        display: flex;
        align-items: center;
    }
}

/* End Footer Lisa-Lou */