/*Flav*/

@media screen and (max-width: 1024px){

    .menu {
        display: none;
        flex-basis: 100%;
    }
    
    .menu-checkbox:checked ~.menu { /* le tilde= je selectionne .menu uniquement si les voisins checkbox sont au meme niveau*/
        display: block;     /* je montre mon menu si les autres sont au meme niveau (si la condition est remplie: ~.menu*/
    }                       /* Je montre le menu si le checkbox est validé */
    
    .menu-checkbox{
        display: none
    }
    
    .nav-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    
    .logo{
        width: 2rem;
        height: 2rem;
    }
    
    li{
        padding: 0.7rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    h1{
        font-size: 2rem;
    }
    
    .menu-checkbox h1{
        display: none;
    }
    
    h2 {
        font-size: 2em;
    }
    
    /* Start Harold */
    
    /* Bloc text pass under pics on mobile */
    .LisaLou, .Jessica, .Harold, .Flavien { 
        flex-wrap: wrap;
    }
    
    .aboutusImg {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    /* End Harold */
    
    }
    
    /* Start Footer Lisa-Lou */
    
    footer {
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    
    .links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }
    
    .links-container > a {
        margin-bottom: 0.4rem;
    }
    
    .logos-container {
        display: flex;
        align-items: center;
    }
    
      /* End Footer Lisa-Lou */
    
      /*Jess*/
    
    .bloc-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

  /*Jess*/


  /* Start Actus Lisa-Lou */


figure > img {
    height: 320px;
    width: 640px;
}

.header-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article > p {
    text-align: center;
    padding: 3rem;
}

.header-article > h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

.header-article > h3 {
    font-size: 2rem;
    padding: 1rem;
}

.header-article > h4 {
    font-size: 1rem;
    padding: 1.5rem;
    border-bottom: solid black;
}

.logos-socials-article {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;;
    border-bottom: double black;
}

.embed-youtube {
    display: flex;
    justify-content: center;
}

figcaption {
    font-size: 0.5rem;
    padding-bottom: 3rem;
}

.pic-harold {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}