/*Flav*/

@media screen and (max-width: 768px) {
    #navDesktop {
        display: none;
    }
    .menu {
        display: none;
        flex-basis: 100%;
    }
    #logoSite {
        display: none;
    }
    .menu-checkbox:checked~.menu {
        /* le tilde= je selectionne .menu uniquement si les voisins checkbox sont au meme niveau*/
        display: block;
        /* je montre mon menu si les autres sont au meme niveau (si la condition est remplie: ~.menu*/
    }
    /* Je montre le menu si le checkbox est validé */
    .menu-checkbox:checked~#titleNav, .menu-checkbox:checked~#searchButton {
        display: none;
    }
    .menu-checkbox {
        display: none
    }
    .nav-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .logo {
        width: 2rem;
        height: 2rem;
    }
    li {
        padding: 0.7rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: 'Bebas Neue', cursive;
    }
    .menu-checkbox h1 {
        display: none;
    }
    h2 {
        font-size: 2em;
    }
    /* Start Harold */

    /* Bloc text pass under pics on mobile */
    .LisaLou, .Jessica, .Harold, .Flavien {
        flex-wrap: wrap;
    }

    .aboutusImg {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    /* Account button */
    .open-button-img {
        display: block;
        position: absolute;
        bottom: -1.1px;
        right: -2px;
    }   

    /* Button used to open the contact form - fixed at the bottom of the page */    
    .open-button {
        border-radius: 50px !important;
        top: 90vh !important; /* % de la page */
        bottom: 23px !important;
        height: 45px !important;
        width: 45px !important;
        background-color:white !important;
        border: 0px !important; 
    }

    /* Text into button */
    .open-button-texte {
        display: none;  
        width: 0px;
        height: 0px;
    }

    /* 
            display: none !important;
        background-image: url(/MyLovelyTrack/src/account.png) !important;

            border-radius: 100% !important;
            background-color: white !important;

            background-image: url(/MyLovelyTrack/src/account.png) !important;

    visibility: visible;
        background-color: white;
    */
    /* End Harold */
}

/* Start Footer Lisa-Lou */

footer {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.links-container>a {
    margin-bottom: 0.4rem;
}

.logos-container {
    display: flex;
    align-items: center;
}

/* End Footer Lisa-Lou */

/*Jess*/

.bloc-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Jess*/

/* Start Actus Lisa-Lou */

@media screen and (max-width: 768px) {
    .pic-harold {
        display: none;
    }

    .article-layout-image-right>p {
        text-align: start;
        text-align: justify;
    }


}